<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="AcFunDanmaku" value="https://pkgs.dev.azure.com/sunness/_packaging/sunness/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <AcFunDanmaku>
      <add key="Username" value="s4u441BtFVvjJ67HRCFdEeZKJOcaY6RcqBNPn2iCLTbzoUus2TgFzbNJpFtvc7zm" />      
      <add key="ClearTextPassword" value="owgrjcyzyzkirppgm2vicnllfyq5ruqqdg6imgn6iujic3u6tiba" />
    </AcFunDanmaku>
  </packageSourceCredentials>
</configuration>